<div>
	<label for="content_name">Suggested Content Name:</label>
	<input id="content_name" type="text" name="content_name" value="{{ guess|escape }}">
	<button hx-post="submit" hx-trigger="click" hx-include="#content_selection, #type_selection, #content_name"
        hx-indicator="#submit_spinner" hx-on::after-on-load="Swal.fire('Content Successfully Imported').then((result) => { location.reload() })">Submit</button>

    <span id="submit_spinner" class="htmx-indicator" aria-label="Loading">
        <i class="fa-solid fa-spinner fa-spin"></i>
    </span>
</div>
