<html>

{% include "header.html" %}

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
	<div class="container">
		<div class="row">
			<h1>hello world from html</h1>

            <i class="fa-brands fa-apple"></i>
            <i class="fa-solid fa-spinner fa-spin"></i>

			<p>Source: {{ source }}</p>
			<p>Destination: {{ destination }}</p>

			<select name="selected_content" hx-post="/content" hx-trigger="change" hx-target="#content_result">
				<option value='-1'>Select Content</option>
				{% for dir in dirs %}
				<option value="{{ dir }}">{{ dir.name }}</option>
				{% endfor %}
			</select>
            <br/>
            <br/>
			<div id="content_result"></div>

		</div>
	</div>
</body>

<!-- {% include "footer.html" %} -->

</html>
