<div>
	<div x-data=" { selected: '' }">
		<select id="content_selection" name="content_selection" x-model="selected">
			<option value="">Select Video File</option>
			{% for video in videos %}
			<option value="{{ video }}">{{ video.name }}</option>
			{% endfor %}
		</select>

		<div x-show="selected" x-cloak>
			<select id="type_selection" name="type_selection" hx-post="/guess" hx-trigger="change"
				hx-target="#guess_result" hx-include="#content_selection" hx-indicator="#guess_spinner"
				>
				<option value="">Select Content Type</option>
				<option value="movie">Movie <i class="fa-solid fa-wand-magic-sparkles"></i></option>
				<option value="tvshow">TV Show <i class="fa-solid fa-wand-magic-sparkles"></i></option>
			</select>

            <span id="guess_spinner" class="htmx-indicator" aria-label="Loading">
                <i class="fa-solid fa-spinner fa-spin"></i>
            </span>

            <br/>
            <br/>
			<div id="guess_result">
			</div>
		</div>
	</div>
</div>
